*{
    margin: 0;
    padding: 0;
}

body{
 background: #F6F6EC;
}
.memes-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.memes-container .meme-item .cross-icon img{
    position: absolute;
    width: 20px;
    height: 20px;
}
.meme-item{
    width: 500px;
}

.meme-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}