*{
    margin: 0;
    padding: 0;
}

body{
 background: #F6F6EC;
}
.meme{
    width: 0;
    height: 0;
    margin-left: 25%;
}
.memes-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.memes-container .meme-item .cross-icon img{
    position: absolute;
    width: 20px;
    height: 20px;
}
.meme-item{
    width: 500px;
}

.meme-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input{
    display: none;
}

#first-meme:checked + label .meme{
    width: 250px;
    height: 250px;
}
#second-meme:checked + label .meme{
    width: 250px;
    height: 250px;
}
#third-meme:checked + label .meme{
    width: 250px;
    height: 250px;
}
#fourth-meme:checked + label .meme{
    width: 250px;
    height: 250px;
}